doctype html
// Website template by freewebsitetemplates.com
html
    head
        meta(charset='UTF-8')
        title Niddlink - Mon Compte
        link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    body
        #background-yellow
            | background
        .page
            .about-page
                .sidebar
                    | NIDD
                    | LINK

                    ul
                        li.home
                            a(href='/') Home
                        li.about
                            a(href='/compte') Compte
                        li.projects
                            a(href='/chat') Chat
                        li
                            input.submit(type='button', value='Déconnexion', id='btLogOut', onclick='deconnexion()', align="center", style='background-color:#5FB404;border:0;color:#fff;cursor:pointer;font-family:AbelRegular;font-size:12px;height:23px;line-height:0;margin-left:15px;width:100px;')

                .body
                    .content-contact
                        div
                            div
                                h3 Mon Compte
                                form
                                    | Nom
                                    input(type='text', id='lastName')

                                    | Prénom
                                    input(type='text', id='firstName')

                                    | Date de naissance
                                    p
                                        select(id='bornDay')
                                            option(value = "-") -
                                            - for (i = 1; i <= 31; i++)
                                                option(value = i)= i
                                        select(id='bornMonth')
                                            option(value='-') -
                                            option(value='1') Janvier
                                            option(value='2') Février
                                            option(value='3') Mars
                                            option(value='4') Avril
                                            option(value='5') Mai
                                            option(value='6') Juin
                                            option(value='7') Juillet
                                            option(value='8') Août
                                            option(value='9') Septembre
                                            option(value='10') Octobre
                                            option(value='11') Novembre
                                            option(value='12') Décembre
                                        select(id='bornYear')
                                            option(value = "-") -
                                            - for (i = 2015; i >= 1930; i--)
                                                option(value = i)= i
                                    table
                                        tr
                                            | Genre
                                        tr
                                            td
                                                input.submit(type='button', value='Femme', id='btFemme', onclick='actionBtFemme()')
                                            td
                                                input.submit(type='button', value='Homme', id='btHomme', onclick='actionBtHomme()')
                                    br
                                    br

                                    | Ecole
                                    input(type='text', id='school')

                                    | Spécialité
                                    input(type='text', id='specialty')
                                    br

                                    | Email
                                    input(type='text', id='email')

                                    | Mot de passe
                                    input(type='password', id='mdp')

                                    | Confirmation Mot de passe
                                    input(type='password', id='confirmMdp')

                                    br
                                    br

                                    div
                                        label(id='labelError', style='color:red;')
                                        input.submit(type='button', id='btValidate', onclick='validate()')


script.
    var gender;

    $(document).ready(function(){
        for (i = 1; i <= 31; i++) {
            $('#bornDay').append("option(value = " + i + ") " + i);
        }

        $.ajax({
            url: "/getCurrentUser",
            type: "POST",
            data: null,
            success: function (data) {
                data = JSON.parse(data);
                if (data.length == 0) {
                    // pas de connexion
                    $('#btValidate').val("Créer");
                    document.getElementById("btLogOut").style.visibility="hidden"; //visible-hidden
                }
                else {
                    data = data[0];
                    var date = new Date(data.born);

                    //Bouton d'enregistrement
                    $('#btValidate').val("Enregistrer");

                    //pré-remplir les champs
                    $('#firstName').val(data.firstName);
                    $('#lastName').val(data.lastName);
                    $('#bornDay').val(date.getDate());
                    $('#bornMonth').val(date.getMonth()+1);
                    $('#bornYear').val(date.getFullYear());
                    $('#school').val(data.school);
                    $('#specialty').val(data.specialty);
                    $('#email').val(data.email);
                    $('#mdp').val(data.mdp);
                    $('#confirmMdp').val(data.mdp);

                    //Bouton F/H
                    if (data.gender == "F") {
                        actionBtFemme()
                    } else if (data.gender == "M") {
                        actionBtHomme()
                    }

                    //Bloquer email
                    document.getElementById("email").disabled = "true";

                    //bouton deconnexion
                    document.getElementById("btLogOut").style.visibility="visible"; //visible-hidden
                }
            },
            error: function (textStatus, errorThrown) {
                console.log("Erreur");
            }
        });
    });


    function actionBtFemme()
    {
        document.getElementById("btFemme").style.backgroundColor = "green";
        document.getElementById("btHomme").style.backgroundColor = "#dd8514";
        gender = "F";
    }

    function actionBtHomme()
    {
        document.getElementById("btHomme").style.backgroundColor = "green";
        document.getElementById("btFemme").style.backgroundColor = "#dd8514";
        gender = "M";
    }

    function validate(){
        $('#btValidate').val("Enregistrer");
        var user;
        var valideChamp = false;
        var valideMdp = false;

        //Vérifier que tous les champs soient remplis
        if($('#firstName').val().length != 0 && $('#lastName').val().length != 0
                && gender != null
                && $('#bornDay').val() != "-" && $('#bornMonth').val() != "-"  && $('#bornYear').val() != "-"
                && $('#email').val().length != 0 && $('#school').val().length != 0
                && $('#mdp').val().length != 0 ){
            valideChamp = true;
            $('#labelError').text("");
        } else {
            valideChamp = false;
            //message d'erreur, il manque un champ
            $('#labelError').text("Attention ! Une ou plusieurs informations ne sont pas renseignées !");
        }

        //Vérifier que les 2 mots de passe soient identiques
        if( $('#mdp').val() == $('#confirmMdp').val()){
            valideMdp = true;
        } else {
            // mot de passe non identique
            $('#labelError').text("Attention ! Les mots de passe ne sont pas identiques !");
        }

        //Si tout est correct
        if( valideMdp == true && valideChamp == true){
            user = {
                "firstName": $('#firstName').val(),
                "lastName": $('#lastName').val(),
                "gender": gender,
                "born": new Date(parseInt($('#bornYear').val()), parseInt($('#bornMonth').val())-1, parseInt($('#bornDay').val())),
                "email": $('#email').val(),
                "mdp": $('#mdp').val(),
                "school": $('#school').val(),
                "specialty": $('#specialty').val()
            };

            //Envoi des données
            $.ajax({
                url: "/setCurrentUser",
                type: "POST",
                data: user,
                success: function (data) {
                    $('#labelError').text("Enregistrement réussi !");
                    document.location.href = "/";
                },
                error: function (textStatus, errorThrown) {
                    $('#labelError').text(errorThrown);
                }
            });
        }

    }

    function deconnexion() {
        $.ajax({
            url: "/logout",
            type: "POST",
            data: null,
            success: function (data) {
                if (data == "1") {
                    //deconnexion ok
                    document.getElementById("btLogOut").style.visibility = "hidden"; //visible-hidden
                    document.location.href = "/";
                }
                else {
                    // erreur de déconnexion
                }
            },
            error: function (textStatus, errorThrown) {
                alert("Erreur sur la page");
            }
        });
    }