doctype html
// Website template by freewebsitetemplates.com
html
    head
        meta(charset='UTF-8')
        title Niddlink - Chat
        link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
        script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    body
        #background-lightyellow
            | background
        .page
            .project-page
                .sidebar
                    | NIDD
                    | LINK

                    ul
                        li.home
                            a(href='/') Login
                        li.about
                            a(href='/compte') Compte
                        li.selected.projects
                            a(href='/chat') Chat
                        li
                            input.submit(type='button', value='Déconnexion', id='btLogOut', onclick='deconnexion()', align="center", style='background-color:#5FB404;border:0;color:#fff;cursor:pointer;font-family:AbelRegular;font-size:12px;height:23px;line-height:0;margin-left:15px;width:100px;')

                .body
                    .content-project
                        div
                            h3 Chat
                        div
                            br
                            table
                                tr
                                    td(width='300px', valign='top', height='40px')
                                        span Utilisateurs connectés
                                    td(valign='top', height='40px')
                                        span(id='titreConv') Conversation

                                tr
                                    td(id='listUsers', valign='top')
                                    td#messages(valign='top')
                                        ul(id='conv', style='height:700px; width:560px; overflow-y:scroll;')
                                            //li
                                                .infos
                                                    img(src='http://farm5.staticflickr.com/4136/4817542998_55a7eb8d8b_q.jpg', alt='', title='by tresMunkeys')
                                                .content
                                                    h3
                                                        | Arbaoui Mehdi
                                                        b ceo &amp; founder &quot;depot webdesigner&quot;
                                                    p
                                                        | Lorem ipsum non minim laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillumLorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing.
                                            //li
                                                .infos
                                                    img(src='http://farm3.staticflickr.com/2721/4531285963_cd28f61b16_q.jpg', alt='', title='by tresMunkeys')
                                                .content
                                                    h3
                                                        | Edmundo I. Jacobi
                                                        b webdeveloper
                                                    p
                                                        | Lorem ipsum non minim laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillumLorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing.
                                        li(style='width:540px;')
                                            .Area
                                                textarea(id='msg')
                                                input(type='button', id='btSend', onclick='sendMsg()', value='Envoyer')



script.
    var afficheUserCo = false;
    var user;
    var userS = new Array();
    var doOnce = false;
    var sessionRoom = -1;
    var socket;
    var onChat = false;
    var userConnect = false;
    var otherUser;


    setInterval(function(){
        $.ajax({
            url: "/stillAlive",
            type: "POST",
            data: null,
            success: function (data) {
                if(data != "ok")
                {
                    data = JSON.parse(data);
                    if(data.chatSession > 0)
                    {
                        sessionRoom = data.chatSession;
                        if(doOnce == false)
                        {   
                            doOnce = true;
                            socket.emit('newRequest', JSON.stringify({"userId": 666, "initialUserId": null}));
                            console.log("connection to room "+ sessionRoom);
                            otherUser = findUserById(data.idPerson);

                            //Affiche nomn du correspondant de la conversation
                            targetNameAndCloseChat(otherUser);

                            socket.on('serverSendNewMessage_Room'+sessionRoom,function(data){
                                var message = JSON.parse(data).message;
                                var sender = JSON.parse(data).sender;
                                var i = findUserById(sender);

                                //Agit sur la personne qui est invité
                                console.log("message reçu : "+message);

                                //Agit uniquement sur la personne qui a créé la room                                
                                printMessage(message, i);
                            });
                        }  
                    }
                }
            },   

            error: function (textStatus, errorThrown) {
                console.log("Erreur");
            }
        });
    }, 1000);


    var currentUser;


    $(document).ready(function () {

        socket = io.connect(location.origin.replace('3000', '3001'));

        //Vérifier si un user est connecté
        $.ajax({
            url: "/getCurrentUser",
            type: "POST",
            data: null,
            success: function (data) {
                data = JSON.parse(data);
                if (data.length == 0) {
                    // pas de connexion
                    document.getElementById("btLogOut").style.visibility = "hidden"; //visible-hidden
                    afficheUserCo = false;
                }
                else {
                    userConnect = true;

                    //bouton deconnexion
                    document.getElementById("btLogOut").style.visibility = "visible"; //visible-hidden
                    // MAJ de la liste des personnes connectées
                    user = data[0];
                    $.ajax({
                        url: "/getAvailableUsers",
                        type: "POST",
                        data: null,
                        success: function (data) {
                            data = JSON.parse(data);
                            if (data.length <= 1) {
                                // personne n'est co a par moi
                                $("#msg").val("Désolé, personne n'est disponible");
                                document.getElementById("msg").disabled = "true";
                                document.getElementById("btSend").disabled = "true";
                            }
                            else {
                                userS = [];
                                for(var u in data)                               
                                {
                                    userS.push(data[u].user);
                                }
                                // MAJ de la liste des personnes co
                                for (i = 0; i < data.length; i++) {
                                    if(data[i].user.email != user.email) {
                                        var date = new Date(data[i].user.born);
                                        var dateString = date.getDate() +"/"+ (date.getMonth()+1) + "/"+ date.getFullYear();
                                        var fonct = 'startDiscuss("'+data[i].user._id+'")';
                                        $("#listUsers").append("<li><button id='"+data[i].user._id+"' style='background-color:#fff;border:0;color:#000;font-weight: bold;font-size:15px;height:23px;'"
                                                +"onclick='"+fonct+"'>"+ data[i].user.firstName + " " + data[i].user.lastName + "</button></li>"
                                            + "&nbsp;&nbsp;&nbsp;&nbsp;<img src='/images/school.gif' style='width:17px; height:17px;'> &nbsp; <font color='silver' size='2'>" + data[i].user.school +"</font>"
                                            + "<br> &nbsp;&nbsp;&nbsp;&nbsp;<img src='/images/studies.gif' style='width:17px; height:17px;'> &nbsp; <font color='silver' size='2'>" + data[i].user.specialty + "</font>"
                                            + "<br> &nbsp;&nbsp;&nbsp;&nbsp;<img src='/images/age.png' style='width:17px; height:17px;'> &nbsp; <font color='silver' size='2'>" + calculAge(dateString.toString()) + " ans</font><br><br>");
                                    }
                                }
                            }
                        },
                        error: function (textStatus, errorThrown) {
                            console.log("Erreur sur /getAvailableUsers");
                        }
                    });
                }
            },
            error: function (textStatus, errorThrown) {
                console.log("Erreur sur /getCurrentUser");
                userConnect = false;
            }
        });
    });

    //////////////////////////////
    //Actualiser la liste des utilisateurs
    setInterval(function () {
        //Vérifier si un user est connecté
        if(userConnect){
                    $.ajax({
                        url: "/getAvailableUsers",
                        type: "POST",
                        data: null,
                        success: function (data) {
                            data = JSON.parse(data);
                            /*if (data.length <= 1) {
                                // personne n'est co a par moi
                                $("#msg").val("1Désolé, personne n'est disponible");
                                document.getElementById("msg").disabled = "true";
                                document.getElementById("btSend").disabled = "true";
                            }
                            else {*/
                            $("#listUsers").html("");
                            if (data.length > 1) { 
                                userS = [];
                                for(var u in data)                               
                                {
                                    userS.push(data[u].user);
                                }
                                
                                // MAJ de la liste des personnes co
                                for (i = 0; i < data.length; i++) {
                                    if (data[i].user.email != user.email) {
                                        var date = new Date(data[i].user.born);
                                        var dateString = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                                        var fonct = 'startDiscuss("' + data[i].user._id + '")';
                                        $("#listUsers").append("<li><button id='" + data[i].user._id + "' style='background-color:#fff;border:0;color:#000;font-weight: bold;font-size:15px;height:23px;'"
                                                + "onclick='" + fonct + "'>" + data[i].user.firstName + " " + data[i].user.lastName + "</button></li>"
                                                + "&nbsp;&nbsp;&nbsp;&nbsp;<img src='/images/school.gif' style='width:17px; height:17px;'> &nbsp; <font color='silver' size='2'>" + data[i].user.school + "</font>"
                                                + "<br> &nbsp;&nbsp;&nbsp;&nbsp;<img src='/images/studies.gif' style='width:17px; height:17px;'> &nbsp; <font color='silver' size='2'>" + data[i].user.specialty + "</font>"
                                                + "<br> &nbsp;&nbsp;&nbsp;&nbsp;<img src='/images/age.png' style='width:17px; height:17px;'> &nbsp; <font color='silver' size='2'>" + calculAge(dateString.toString()) + " ans</font><br><br>");

                                        if(onChat || data[i].busy == true){
                                            //désactiver le bouton
                                            document.getElementById(data[i].user._id).style.color = "#BDBDBD";
                                            document.getElementById(data[i].user._id).disabled = "true";

                                            document.getElementById("msg").disabled = false;
                                            document.getElementById("btSend").disabled = false;
                                        }else{
                                            $("#msg").val("Vous n'avez pas encore de correspondant !");
                                            document.getElementById("msg").disabled = true;
                                            document.getElementById("btSend").disabled = true;
                                        }
                                    }
                                }
                            }
                        },
                        error: function (textStatus, errorThrown) {
                            console.log("Erreur /getAvailableUsers");
                        }
                    });
        }
    }, 1500); //5sec


    function findUserById(id)
    {
        for(i=0; i<userS.length; i++){
            if(userS[i]._id.toString() === id){
                return i;
            }            
        }
        return -1;
    }


    //Lors qu'une conversation est démarrée, le nom du correspondant s'affiche en haut, un bouton pour fermer la conv, la liste des utilisateurs co est grisée
    function targetNameAndCloseChat(iCorrespondant){        

        //Afficher le nom de la personne qui a créé le salon
        $("#titreConv").html("Conversation avec " + userS[iCorrespondant].firstName + " " + userS[iCorrespondant].lastName
                + "&nbsp;&nbsp;<button onclick='closeChat()' style='background-color:#5FB404;border:0;color:#fff;font-size:12px;height:23px;'>Fermer</button>");

        //Désactiver toutes les personnes de la liste
        for (i = 0; i < userS.length; i++) {
            if (userS[i]._id != user._id) {
                //désactiver le bouton
                document.getElementById(userS[i]._id).style.color = "#BDBDBD";
                document.getElementById(userS[i]._id).disabled = "true";
            }
        }

        //Activer champs texte et l'envoi
        $("#msg").val("");

        onChat = true;

        document.getElementById("msg").disabled = false;
        document.getElementById("btSend").disabled = false;
    }


    function startDiscuss(id){
        otherUser = findUserById(id);
        onChat = true;

        targetNameAndCloseChat(otherUser);

        //Ouverture socket
        console.log("connection");
        //socket = io.connect('pcistiaetu176:3001');
        console.log("Requesting chat with other client");
        socket.emit('newRequest', JSON.stringify({"userId": id, "initialUserId": user._id}));

        //créer listener de reception de numéro de salon
        socket.on('sessionRoomAssigned_'+user._id,function(room){
            if(doOnce == false)
            {
                doOnce = true;
                sessionRoom = room;
                console.log("assigned room : "+sessionRoom);

                //créer listener de reception de message
                socket.on('serverSendNewMessage_Room'+sessionRoom,function(data){
                  var message = JSON.parse(data).message;
                  var sender = JSON.parse(data).sender;
                  var i = findUserById(sender);
                  console.log("message reçu : "+message);

                  //Agit uniquement sur la personne qui a créé la room
                    printMessage(message, i); 
                });
            }

            
        });
    }


    function printMessage(message, i)
    {
        if(message != "@@closed_room@@")
        {            
        //regarde si c'est le destinateur ou l'utilisateur qui a envoyé le msg
            var image;
         if (userS[i]._id == user._id) {
                            //l'utilisateur
                            image = "<div class='infos' style='float:left'>" + 
                                "<img src='http://farm3.staticflickr.com/2617/3873098259_61c446da22_q.jpg' alt=''/></div>"
                        } else {
                            //le correspondant
                            image = "<div class='infos' style='float:right'>" + 
                                "<img src='http://farm5.staticflickr.com/4136/4817542998_55a7eb8d8b_q.jpg' alt=''/></div>"
                        }

                $("#conv").append(
                    "<li>" +
                        image +
                        "<div class='content'>" +
                            "<h3>" +
                                userS[i].firstName + " " + userS[i].lastName +
                            "<b>" + userS[i].school + " - " + userS[i].specialty + "</b>" +
                            "</h3>" +
                            "<p>" +
                                message +
                            "</p>" +
                        "</div>" +
                    "</li>");
        }
        else
        {
            reinitializeInterface();
        }

    }


    function calculAge(strDate) {
        strDate = strDate.split('/');
        var birthMonth = strDate[1] - 1, // (les mois commencent à 0)
                birthDay = strDate[0],
                now = new Date(),
                nowMonth = now.getMonth(),
                nowDay = now.getDate(),
                age = now.getFullYear() - strDate[2];

        // Si la date d'anniversaire n'est pas encore passée, on corrige l'age
        if (nowMonth < birthMonth || nowMonth == birthMonth && nowDay < birthDay) {
            age--;
        }
        return age;
    }


    function sendMsg(){
        console.log("sending message to room clientSendNewMessage_Room"+sessionRoom);
        socket.emit('clientSendNewMessage_Room'+sessionRoom, JSON.stringify({"message": $('#msg').val(), "sender": user._id}));
    }


    function closeChat(){
        var data = {"sessionRoom" : sessionRoom, "userId" : userS[otherUser]._id, "currentUserId" : user._id};
        socket.emit('destroySessionRoom_'+ sessionRoom , data);  
        reinitializeInterface();     
    }

    function reinitializeInterface()
    {
        sessionRoom = -1;
        console.log("Room destroyed");

        onChat = false;
        doOnce = false;

        //détruire données de la conv
        $("#titreConv").html("Conversation");
        $("#conv").html("");

        //Activer toutes les personnes de la liste
        for (i = 0; i < userS.length; i++) {
            if (userS[i]._id != user._id) {
                //activer le bouton
                document.getElementById(userS[i]._id).style.color = "#FFF";
                document.getElementById(userS[i]._id).disabled = "false";
            }
        }

        $("#msg").val("Vous n'avez plus de correspondant !");
        document.getElementById("msg").disabled = true;
        document.getElementById("btSend").disabled = true;
    }


    function deconnexion() {
        $.ajax({
            url: "/logout",
            type: "POST",
            data: null,
            success: function (data) {
                if (data == "1") {
                    //deconnexion ok
                    document.getElementById("btLogOut").style.visibility = "hidden"; //visible-hidden
                    document.location.href = "/";
                }
                else {
                    // erreur de déconnexion
                    alert("Erreur de déconnexion");
                }
            },
            error: function (textStatus, errorThrown) {
                alert("Erreur sur la page");
            }
        });
    }


        /*$(window).bind('onunload', function(){
            //var data = {"sessionRoom" : sessionRoom, "userId" : userS[otherUser]._id, "currentUserId" : user._id};
            socket.emit('destroySessionRoom_'+ sessionRoom , {"sessionRoom" : sessionRoom, "userId" : userS[otherUser]._id, "currentUserId" : user._id});
        });*/

        $( window ).unload(function() {
            socket.emit('destroySessionRoom_'+ sessionRoom , {"sessionRoom" : sessionRoom, "userId" : userS[otherUser]._id, "currentUserId" : user._id});
        });


