doctype html
// Website template by freewebsitetemplates.com
html
  head
    meta(charset='UTF-8')
    title Niddlink - Accueil
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  body
    #background-green
      | background
    .page
      .home-page
        .sidebar
          | NIDD
          | LINK

          ul
            li.selected.home
              a(href='/') Login
            li.about
              a(href='/compte') Compte
            li.projects
              a(href='/chat') Chat
            li
              input.submit(type='button', value='Déconnexion', id='btLogOut', onclick='deconnexion()', align="center", style='background-color:#5FB404;border:0;color:#fff;cursor:pointer;font-family:AbelRegular;font-size:12px;height:23px;line-height:0;margin-left:15px;width:100px;')

        .body
          .content-home
            div
              h3
                span.beauty Email
                br
                span.works Mot de passe
                br
                br
              p
                input(type='text', id='email', value="@mail.fr")
              p
                input(type='password', id='mdp', value='admin')
              p
                label(id='labelErreurCo', style='color:red;')
              div
                input.submit(type='button', id='btConnexion', value='Connexion', onclick='connexion()', style='background-color:#dd8514;border:0;color:#fff;cursor:pointer;font-family:Arial, Helvetica, sans-serif;font-size:12px;height:23px;line-height:0;margin:0;width:119px;')
                br
                br
                a(href='/compte')
                  input.submit(type='button', value='Créer un compte', onclick='/compte', style='background-color:#dd8514;border:0;color:#fff;cursor:pointer;font-family:Arial, Helvetica, sans-serif;font-size:12px;height:23px;line-height:0;margin:0;width:119px;')




script.
  //bloquer Compte et mdp si pas conencter

  $(document).ready(function () {
    $.ajax({
      url: "/getCurrentUser",
      type: "POST",
      data: null,
      success: function (data) {
        data = JSON.parse(data);
        if (data.length == 0) {
          // pas de connexion
          document.getElementById("btLogOut").style.visibility = "hidden"; //visible-hidden
        }
        else {
          //bouton deconnexion
          document.getElementById("btLogOut").style.visibility = "visible"; //visible-hidden
          $('#labelErreurCo').text("Vous êtes déja connecté à un compte");
          document.getElementById("btConnexion").disabled = "true"; //bloquer
        }
      },
      error: function (textStatus, errorThrown) {
        console.log("Erreur");
      }
    });
  });

  function connexion(){
    var email = $('#email').val();
    var mdp = $("#mdp").val();

    if(email.length != 0 && mdp.length != 0){
      $.ajax({
        url: "/login",
        type: "POST",
        data: {'email': email, 'mdp': mdp},
        success: function (data) {
          if (data.erreur) {
            //afficher message d'erreur sur la page
            $('#labelErreurCo').text(data.message);
          }
          else {
            // si ok -> redirection vers chat et pré-remplisage du compte
            document.location.href = "/chat";
          }
          console.log(data.message);
        },
        error: function (textStatus, errorThrown) {
          alert("Erreur sur la page");
        }
      });
    }
    else {
      $('#labelErreurCo').text("Veuillez remplir les deux champs !");
    }

  }

  function deconnexion() {
    $.ajax({
      url: "/logout",
      type: "POST",
      data: null,
      success: function (data) {
        if (data == "1") {
          //deconnexion ok
          document.getElementById("btLogOut").style.visibility = "hidden"; //visible-hidden
          document.location.href = "/";
        }
        else {
          // erreur de déconnexion
        }
      },
      error: function (textStatus, errorThrown) {
        alert("Erreur sur la page");
      }
    });
  }