doctype html
// Website template by freewebsitetemplates.com
html
  head
    meta(charset='UTF-8')
    title Niddlink - Accueil
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='http://localhost:3001/socket.io/socket.io.js')
  body
  |Connect!
  button(id='button1') send
  span(id="span1")



script.

  var socket;
  var sessionRoom = null;

  (function($){
    var me;
    console.log("connection");
  	socket = io.connect('http://localhost:3001');
  	console.log("Requesting chat with other client");
  	socket.emit('newRequest', "56979fdedf1f773417b5d00d");
  	
  })(jQuery);



  socket.on('sessionRoomAssigned',function(room){
  	sessionRoom = room;
  	console.log("assigned room : "+sessionRoom);

  	  socket.on('serverSendNewMessage_Room'+sessionRoom,function(message){
  	console.log("message reçu : "+message);
  });
  });


  $('#button1').on('click', function() {
    console.log("sending message to room "+sessionRoom);
  	socket.emit('clientSendNewMessage_Room'+sessionRoom, "pif");
  });


  setInterval(function(){
    $.ajax({
      url: "/stillAlive",
      type: "POST",
      data: null,
      success: function (data) { 
      console.log("data : "+data);
      	if(data != "ok")
        {
          console.log("dis is working!!1! "+data);
          socket.emit("newMessage_Room"+data, "dis is working!!1! "+data);
        }
      },
      error: function (textStatus, errorThrown) {
        console.log("Erreur : "+JSON.stringify(errorThrown));
      }
    });
  }, 1000);